<!--
<!doctype HTML>
<html>
  <head> <title>Squacoon Sighting Report Form</title> 
  <link rel="stylesheet" type= "text.css" href= "css/style.css">
  </head>
  <img type="squacoon" src="https://cdn-webimages.wimages.net/05186e08747512872338863d6d2eec45eafe07-wm.jpg">
  <body> 
    <h2> Squacoon Sighting Report Form </h2>
<!--     <form method = "post"> -->
    
<!--
      <br>     
  <form method="post">
    <input type="radio" name="gender" value="male"> Male<br>
    <input type="radio" name="gender" value="female"> Female
     <br>
     <label for "name" >Name </label> <input type="text" name="name">
    
    <br>
    <label for "contact"> Email</label> <input type= "email" name="contact">
    <br>
    <lable for "date"> Date</label> <input type="date" name="date">
    <br>
   <label for "emotion"> Emotional Response</label> 
    <select name="emotional response">
      <option class=:"label" value="panic"> Panic</option>
      <option class=:"label" value="scared"> Scared</option>
      <option class=:"label" value="happy"> Happy</option>
      <option class=:"label" value="cute"> Cute</option>
      <option class=:"label" value="yay"> Yay</option>
    <input type="Submit" value="Submit">
      
      </form>
  </body>
</html>  
-->