<!doctype = HTML>
<html>
  <head> <title> What's Your Emoji? </title> </head>
  <body>
    <h1> What's Your Emoji? </h1>
    <br>
    <h2> Do you ever get a text, but you're not sure how to respond? Do you ever get so lazy that you don't want to type words? Respond with an emoji! This quiz will help you find the perfect emoji so you don't have to say a word. </h2>
    <br>
    <br>
    <form>
      <!--question one-->
      <h3> What was the tone of their text? </h3>
      <label for "tone"> Happy </label> 
      <input type="radio" name="tone" value="happy"> 
      <label for "tone"> Angry </label> 
      <input type="radio" name="tone" value="angry"> 
      <br>
      <label for "tone"> Sad </label> 
      <input type="radio" name="tone" value="sad"> 
      <label for "tone"> Bored </label> 
      <input type="radio" name="tone" value="bored"> 
      
      <!--question two-->
      <h3> How long have you known (or been texting) this person? </h3>
      <label for "tone"> Less than a day </label> 
      <input type="radio" name="tone" value="day"> 
      <label for "tone"> About a month or two </label> 
      <input type="radio" name="tone" value="month"> 
      <br>
      <label for "tone"> Over a year </label> 
      <input type="radio" name="tone" value="year"> 
      <label for "tone"> Pretty much forever </label> 
      <input type="radio" name="tone" value="forever"> 
      
            <!--question three-->
      <h3> How did their text make you feel? </h3>
      <label for "tone"> Annoyed </label> 
      <input type="radio" name="tone" value="annoyed"> 
      <label for "tone"> Indifferent </label> 
      <input type="radio" name="tone" value="indiff"> 
      <br>
      <label for "tone"> Confused </label> 
      <input type="radio" name="tone" value="confused"> 
      <label for "tone"> Cheerful </label> 
      <input type="radio" name="tone" value="cheerful"> 
      
            <!--question four-->
      <h3> How would you describe their personality? </h3>
      <label for "tone"> Serious </label> 
      <input type="radio" name="tone" value="serious"> 
      <label for "tone"> Chill </label> 
      <input type="radio" name="tone" value="chill"> 
      <br>
      <label for "tone"> Funny </label> 
      <input type="radio" name="tone" value="funny"> 
      <label for "tone"> Outgoing </label> 
      <input type="radio" name="tone" value="outgoing"> 
      
            <!--question five-->
      <h3> How do you want them to react to your text? </h3>
      <label for "tone"> HAHAHA </label> 
      <input type="radio" name="tone" value="hahaha"> 
      <label for "tone"> Whaaat? </label> 
      <input type="radio" name="tone" value="what"> 
      <br>
      <label for "tone"> UGH </label> 
      <input type="radio" name="tone" value="ugh"> 
      <label for "tone"> Okay... </label> 
      <input type="radio" name="tone" value="okay"> 
      <br>
      <!--submit-->
      <br>
      <input type="Submit" value="submit">
      
      
    </form>
    
  </body>
  
</html>